.repolist {
  display: block;
  clear: both;
  width: 100%;
}

.repolist ul {
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
}

.repolist ul li {
  display: block;
}

.repolist ul li a {
  font-weight: bold;
  font-family: 'Courier New', Courier, 'Lucida Typewriter', monospace;
  font-size: 0.9em;
  padding: 6px 9px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 1px solid #356492;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #3673af;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#5597d8),
    to(#3673af)
  );
  background-image: -webkit-linear-gradient(top, #5597d8, #3673af);
  background-image: -moz-linear-gradient(top, #5597d8, #3673af);
  background-image: -ms-linear-gradient(top, #5597d8, #3673af);
  background-image: -o-linear-gradient(top, #5597d8, #3673af);
  background-image: linear-gradient(top, #5597d8, #3673af);
}

.repolist ul li a:hover {
  background-color: #396895;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#4b87c2),
    to(#396895)
  );
  background-image: -webkit-linear-gradient(top, #4b87c2, #396895);
  background-image: -moz-linear-gradient(top, #4b87c2, #396895);
  background-image: -ms-linear-gradient(top, #4b87c2, #396895);
  background-image: -o-linear-gradient(top, #4b87c2, #396895);
  background-image: linear-gradient(top, #4b87c2, #396895);
}

.repolist ul li a:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
}
