@import url('./reset.css');
@import url('./global.css');

/* page structure */
#wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: min(800px, 100% - 4rem);
  margin-inline: auto;
  background: #fff;
  padding: 15px 25px;
  -webkit-box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4 px;
  border-radius: 4px;
}

#ghapidata {
  display: block;
  padding: 25px 0;
}

#loader {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

/* page content styles */
.smallname {
  font-size: 0.75em;
  color: #a9a9a9;
  font-style: italic;
}

.avi {
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
}

.avi img {
  border: 1px solid #ccc;
  padding: 3px;
}

/* clearfix */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
